@import 'tailwindcss';

html,
body,
label,
#app {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #212121;
}

.toast-slide-enter-active,
.toast-slide-leave-active {
  transition: all 0.5s ease;
}

.toast-slide-enter-from {
  transform: translate(-100vw, -50%) !important;
  opacity: 0;
}

.toast-slide-leave-to {
  transform: translate(100vw, -50%) !important;
  opacity: 0;
}
